:root {
  --color--white: #fff;
  --color--black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
/* body {
  height: 100vh;
} */

/* -------------------------SECTION HERO------------------------------- */
.hero {
  height: 25rem;
  width: 100%;
  background-image: url(img/bg-photo.jpg);
  background-position: center;
  background-size: cover;
}
.bg_logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color--white);
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.bg-nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.img-small {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
}
.bg-btn {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--color--white);
  padding: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #cfcfcf;
  opacity: 0.7;
}
.hero-btn-box {
  align-items: center;
  gap: 2rem;
}
.hero-btn-box i {
  color: var(--color--white);
  font-size: 2.5rem;
  cursor: pointer;
}
.img-box {
  align-items: flex-start;
  gap: 2rem;
}
.img-box .text {
  flex-direction: column;
  align-items: flex-start;
}
.img-box .photo-woman {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}
.img-box .img-text {
  font-size: 2.5rem;
  color: var(--color--white);
}
.img-box .text__link {
  font-size: 1.5rem;
  color: var(--color--white);
  text-decoration: none;
}

.bg-container {
  padding: 0 2rem;
  margin: 4rem 0;
  color: var(--color--white);
  align-items: flex-start;
  justify-content: space-between;
}
.profile-reviews {
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 2rem;
  font-size: 1.8rem;
  position: relative;
  background-color: #cfcfcf;
  opacity: 0.8;
}
.profile-reviews .heading {
  margin-bottom: 0.5rem;
}
.profile-reviews .text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.profile-reviews .btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffb149;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  color: var(--color--white);
}
.profile-reviews .btn:hover {
  background-color: #b2741e;
}
.profile-reviews .number {
  background-color: #cfcfcf;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  outline: 2px solid #ffb149;
  border-radius: 50%;
  outline-offset: 5px;
  z-index: 111;
}
/*-------------------- content-container-------------------------- */
.content-container {
  display: grid;
  grid-template-columns: 29rem 1fr;
}
.about {
  padding: 0 2rem;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2);
  margin-top: 12rem;
  /* background-color: rgb(170, 16, 16); */
}
.margin-bottom {
  margin-bottom: 2rem;
}
.header-box {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #777;
}
.header-box i {
  color: #777;
  font-size: 2rem;
}
.header-box .heading {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}
.cuvered-persons {
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
.cuvered-persons .img-box {
  gap: 2rem;
  margin-top: 2rem;
}
.cuvered-persons .cuvered-persons-box .heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #777;
}
.cuvered-person-img {
  object-fit: cover;
  width: 5rem;
  border-radius: 50%;
  height: 5rem;
}
.about-link {
  margin-top: 0.5rem;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.5rem;
  color: #222;
}
.about-link span {
  color: #777;
}
.btn-claim {
  padding: 0.4rem 1rem;
  background-color: #14d19b;
  font-size: 1.4rem;
  color: var(--color--white) !important;
  transition: all 0.3s ease-in-out;
}
.btn-claim:hover {
  background-color: #0ab686;
}
.btn-claim-bg {
  background-color: #ffa428;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-claim-bg:hover {
  background-color: #b2741e;
}
i {
  cursor: pointer;
}
.btn-claim-bg i {
  margin-right: 1rem;
}

/* -----------------vlog-box------------------------------ */
.nav-list-ul {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid #777;
  padding: 1rem 2rem;
}
.flex-link {
  justify-content: center;
  align-items: center;
}
.flex-link i {
  font-size: 1.4rem;
}
.active {
  color: var(--color--black) !important;
  border-bottom: 2px solid #ffa428 !important;
}
.nav-link {
  color: #777;
  text-decoration: none;
  font-size: 1.6rem;
  gap: 0.8rem;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.nav-link:hover {
  color: var(--color--black);
  border-bottom: 2px solid #ffa428;
}

.claims {
  padding: 3rem 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.claim-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: -0.5rem;
  object-fit: cover;
}
.claim-img:first-child {
  margin: 0;
}
.claim-box {
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.claim-img-box {
  border-left: 2px solid #777;
  padding-left: 2rem;
}
.claim-box .number {
  font-size: 5rem;
}
.claim-box .heading {
  font-size: 2rem;
  color: #777;
  margin-bottom: 2rem;
}
.new-member {
  flex-direction: column;
  overflow-y: scroll;
  height: 50rem;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2);
}
.new-member::-webkit-scrollbar {
  width: 0.5rem;
}
.new-member::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #ffa428;
}
.new-member::-webkit-scrollbar-track {
  background-color: #fff;
}
.member-activity {
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
}
.member-box {
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2);
  gap: 2rem;
  /* width: 50%; */
  cursor: pointer;
  padding: 2rem;
}
.member-details {
  flex-direction: column;
  gap: 0.4rem;
}
.member-activity {
  justify-content: space-between;
  padding: 0 2rem;
}
.member-img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
}
.member-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.address {
  justify-content: space-between;
  gap: 5rem;
}
.member-text {
  font-size: 1.5rem;
  color: #777;
}
.member-text i {
  margin-right: 0.8rem;
}
/* -------------------------------activity----------------------------- */

.activity-heading {
  font-size: 2rem;
  color: #777;
  border-bottom: 1px solid #777;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.activity-container {
  height: 45rem;
  overflow-y: scroll;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2);
}
.activity-container::-webkit-scrollbar {
  width: 0.5rem;
}
.activity-container::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #ffa428;
}
.activity-container::-webkit-scrollbar-track {
  background-color: #fff;
}
.cercle {
  background-color: aqua;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  outline: 2px solid aqua;
  outline-offset: 3px;
  margin-top: 1rem;
}
.cercle-bg-color {
  background-color: #ffa428;
  outline: 2px solid #ffa428;
}
.cercle-bg-color-1 {
  background-color: #14d19b;
  outline: 2px solid #14d19b;
}

.activity-box {
  cursor: pointer;
  padding: 2rem;
  gap: 2rem;
  align-items: flex-start;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2);
}

.activity-text-box .heading {
  font-size: 2rem;
  font-weight: 500;
}
.activity-text-box .text,
.time {
  font-size: 1.5rem;
  color: #777;
  margin-top: 1rem;
}
